<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 p-2">

      <iframe title="Plateau" width="100%" style="height: 88vh;margin-top: 60px;"
        src="https://app.powerbi.com/reportEmbed?reportId=9c35b38b-b414-42ac-9e24-cbab01a9b1e2&autoAuth=true&ctid=8550cca8-1055-4258-ad3b-ee3cca0ef462"
        frameborder="0" allowFullScreen="true"></iframe>

      <!-- <div class="searchContainer" id="searchContainer" #searchContainer></div>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="outline">
          <input type="text" placeholder="Company search . . . ." aria-label="Number" matInput [formControl]="myControl"
            [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedOption($event)">
            <mat-option *ngFor="let option of options" [value]="option">
              <img class="pr-3 option" src="assets/images/search-time.png">{{option}}
              <img class="float-right close" src="assets/images/close.png">
            </mat-option>
          </mat-autocomplete>
          <div class="icon">
            <img src="assets/images/search.png">
          </div>
        </mat-form-field>
      </form>
    </div> -->
  </div>
</div>
</div>