
@import '../../styles.scss';

/* Navbar */
.badValueContainer {
  width: 100%;
  height: calc(100vh - 175px);
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lato' !important;
}

.main-spinner-wrapper {
  height: 95vh;
  background: white;
}

.static-frame {
  margin-top: 95px;
}

.form-control {
  border: 1px solid #00000061;
}

select.form-control{
  border: 1px solid #00000061;
}

.btn-sub {
  background-color: #e0bf08 !important;
  border-color: #e0bf08;
  color : white  !important;
}



